<?xml version='1.0' encoding='utf-8'?>
<widget id="info.awashanalytics.agify" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Agify</name>
    <description>
        Agify: Age Calculator App.
    </description>
    <author email="awash.analytics@gmail.com" href="http://awash-analytics.info/">
        Awash Analytics Inc.
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
